body {
  padding: 1em 2em;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
section {
  margin: 0.5em 0;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin: 0;
  margin-bottom: 0.25em;
}
.control {
  margin: 1em 0;
}
.control label {
  display: inline-block;
  vertical-align: top;
  width: 6em;
  float: left;
  margin-top: 2px;
}
.control input[type=checkbox] + label {
  width: 12em;
  margin-left: 0.25em;
  float: none;
}
.control input, select {
  width: 12em;
}
.control input[type=checkbox] {
  width: auto;
}
textarea {
  width: 80%;
  height: 200px;
  font-family: Inconsolata, Consolas, monospace;
  font-size: 16px;
  padding: 0.5em;
}
textarea:disabled {
  opacity: 0.5;
}
.guide {
  font-size: 85%;
  color: #999;
  display: block;
  margin-left: 7em;
  margin-top: 0.25em;
}
#input-xml-source {
  width: 32em;
}
#output-tools {
  background: #ccc;
  padding: 0.5em;
  margin-top: 1em;
}
#output {
  min-height: 8em;
  border: solid 1px #ccc;
  padding: 0.5em;
}

#output:focus {
  outline: none;
}
#output *:focus {
  /*
  border: dashed 1px #999;
  border-radius: 4px;
  */
  outline: none;
}
.message {
  padding: 0.5em;
  background: yellow;
  color: orange;
  font-style: italic;
}
.error {
  color: red;
}
.results-meta {
  margin: 0.5em 0;
  font-weight: bold;
}
.result-item {
  padding: 0.5em 0;
  padding-right: 4em;
  border-top: solid 1px #ccc;
}
.result-item:first-child {
  border: none;
}
/* Hide all closing tags for readability, except inline ones where it would be ambiguous. */
.hide-close-tags .element-close {
  display: none;
}
.hide-close-tags .text + .element .element-close {
  display: inline;
}
#node-details {
  position: absolute;
  z-index: 100;
  background: #fff;
  border: solid 1px #ccc;
  box-shadow: 5px 5px 5px #ccc;
  padding: 0.5em;
  width: 40%;
}
#node-details table {
}
#node-details .detail-close {
  cursor: pointer;
  float: right;
  width: 2em;
  text-align: right;
}
table {
  border-collapse: collapse;
}
td, th {
  text-align: left;
  border-bottom: solid 1px #ccc;
  padding: 0.5em;
}
.result-info h3 {
  cursor: pointer;
}
.result-info.collapsed > div {
  display: none;
}


#error-message {
  font-size: 65%;
  font-weight: bold;
  margin: 0.5em 0;
  margin-left: 8em;
  color: crimson;
}


#ErrorLog {
  width: 100%;
  overflow: auto;
}
#ErrorLog table {
  width: auto;
}
#ErrorLog table td {
  font-family: Inconsolata, Consolas, monospace;
  vertical-align: top;
  white-space: nowrap;
}

col.log-level {
  width: 1em;
}
col.log-date {
  width: 6em;
}
col.log-time {
  width: 8em;
}


.log-level {
  text-indent: -1000px;
}
.emergency {
  background-color: #43000C;
}
.alert {
  background-color: #720013;
}
.critical {
  background-color: #9B001C;
}
.error {
  background-color: #CF0638;
}
.warning {
  background-color: #FA6632;
}
.notice {
  background-color: #0A6789;
}
.info {
  background-color: #0A6789;
}
.config {
  background-color: #FECD23;
}
.debug {
  background-color: #0A996F;
}
.fine {
  background-color: #DEE7E7;
}
.finer {
  background-color: #DEE7E7;
}
.finest {
  background-color: #DEE7E7;
}

.log-levels {
  list-style: none;
  padding: 0;
}
.log-levels li {
  display: inline-block;
  margin-right: 1em;
}


/*
.log-level .debug,
.log-level .info,
.log-level .notice,
.log-level .warning,
.log-level .error {
  text-indent: -1000px;
  display: inline-block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.log-level .debug {
  color: #333;
  background-image: url("img/debug.png");
}
.log-level .info {
  color: #333;
  background-image: url("img/info.png");
}
.log-level .notice {
  color: blue;
  background-image: url("img/notice.png");
}
.log-level .error {
  color: crimson;
  background-image: url("img/error.png");
}
.log-level .warning {
  color: orange;
  background-image: url("img/warning.png");
}
*/


h1 {
/*
  box-sizing: border-box;
  font-size: 1em;
  font-weight: normal;
  background: #333;
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 0.25em 1em;
*/
}
h2 {
  font-size: 1em;
}