.root, .value, .result-item pre {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 110%;
  padding-left: 9px;
}
.result-item pre {
  width: 100%;
  overflow: auto;
}
.element, 
.json-object, 
.json-array {
  cursor: default;
}
.json-object, 
.json-array {
  /* inline allows the *-open class to be on the same line as the previous key-value */
  display: inline;
}
/* self-closing */
.element.empty {}
.element > .element,
.element-value > .element,
.element-value > .comment,
.element-value > .processing-instruction,
{
  margin-left: 1em;
}
.text, .json-value {
  display: inline;
}
/* Inline elements */
.text + .element,
.text + .element .element-value,
.text + .comment,
.text + .processing-instruction,
.text + .comment .comment-value,
.text + .processing-instruction .processing-instruction-value,
.element.short .element-value {
  display: inline;
  margin-left: 0;
}
.element.short .element-value {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.element-name {}
.element-value,
.comment-value,
.json-object-value,
.json-array-value
/*.processing-instruction-value*/ {
  margin-left: 0.75em;
}
.json-array-value > .json-value {
  display: block;
}
.element.collapsed .element-value,
.comment.collapsed .comment-value,
.processing-instruction.collapsed .processing-instruction-value,
.json-object.collapsed .json-object-value,
.json-array.collapsed .json-array-value {
  display: none;
}
.element-open, .element-close,
.json-object-open, .json-object-close,
.json-array-open, .json-array-close {
  padding: 0.1em 0.4em;
  line-height: 1.4;
}
.element-open, 
.json-object-open, 
.json-array-open {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.element.empty .element-close {
  display: none;
}
.element-close,
.element.empty .element-open, 
.json-object-close,
.json-array-close {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.element.empty .element-open,
.element.empty.collapsed .element-open {
  padding-right: 0.4em;
}
.element.collapsed .element-meta {
  display: none;
}
.element.collapsed .element-open,
.json-object.collapsed .json-object-open,
.json-array.collapsed .json-array-open {
  padding-right: 0.05em;
}
.element.collapsed .element-close,
.json-object.collapsed .json-object-close,
.json-array.collapsed .json-array-close {
  padding-left: 0.05em;
}
.element.collapsed .element-open:after,
.comment.collapsed .comment-open:after,
.processing-instruction.collapsed .processing-instruction-open:after,
.json-object.collapsed .json-object-open:after,
.json-array.collapsed .json-array-open:after {
  display: inline-block;
  content: "…";
}
.element.empty.collapsed .element-open:after {
  content: "";
  display: none;
}
.attribute,
.json-key {
}
.attribute-name,
.json-key-name {}
.attribute-value {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.2em;
  line-height: 1;
  padding: 0 0.2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.attribute.free-standing .attribute-value /* Naked attributes that don't appear within an element. */ {
  display: inline;
  vertical-align: auto;
  margin-top: 0;
  padding: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: transparent;
}

.attribute-value.multi {
  padding: 0 0.4em;
  padding-bottom: 0.2em;
}
.namespace {}
.xmlns {}
.namespace-prefix {}
.namespace-uri {}
.comment {}
.comment-value {
  font-style: italic;
}
.processing-instruction {}
.processing-instruction-value {}
.text, .attribute-value, .comment-value, .processing-instruction-value {
  cursor: text;
}
.more {
  font-family: Helvetica, sans-serif;
}




.result-item.highlight {
  
}
.result-item .more-info {
  display: none;
}
.result-item.highlight .more-info,
.result-item .result-type {
  display: block;
  position: absolute;
  top: 0.5em;;
  right: 0;
  width: 20em;
  text-align: right;
}

.status-overlay {
  color: #fff;
  font-size: 125%;
  text-align: center;
  position: absolute;
  top: 1em;
  left: 20%;
  right: 20%;
  padding: 1em 0;
  background: rgba(0,0,0,0.5);
  border-radius: 0.5em;
  
}

.force-inline {
  display: inline;
}

/* Colors */


.element, 
.json-object,
.json-array {
  color: blue;
}
.element-open, .element-close, .attribute-value,
.json-object-open, .json-object-close,
.json-array-open, .json-array-close {
  background: #f2f6f8;
}
.attribute, 
.json-key {
  color: purple;
}
.attribute-value,
.json-value {
  color: brown;
}
.namespace { color: #666; }
.text {
  color: black;
}
.comment, .processing-instruction {
  color: #666;
}
