.root {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 110%;
}
.element {
  cursor: default;
}
/* self-closing */
.element.empty {}
.element > .element,
.element-value > .element,
.element-value > .comment {
  margin-left: 1em;
}
.text {
  display: inline;
}
/* Inline elements */
.text + .element,
.text + .element .element-value,
.text + .comment, 
.text + .comment .comment-value,
.element.short .element-value {
  display: inline;
  margin-left: 0;
}
.element.short .element-value {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.element-name {}
.element-value,
.comment-value {
  margin-left: 0.75em;
}
.element.collapsed .element-value,
.comment.collapsed .comment-value {
  display: none;
}
.element-open, .element-close {
  padding: 0.1em 0.4em;
  line-height: 1.4;
}
.element-open {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.element.empty .element-close {
  display: none;
}
.element-close,
.element.empty .element-open {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.element.empty .element-open,
.element.empty.collapsed .element-open {
  padding-right: 0.4em;
}
.element.collapsed .element-meta {
  display: none;
}
.element.collapsed .element-open {
  padding-right: 0.05em;
}
.element.collapsed .element-close {
  padding-left: 0.05em;
}
.element.collapsed .element-open:after,
.comment.collapsed .comment-open:after {
  display: inline;
  content: "…";
}
.element.empty.collapsed .element-open:after {
  content: "";
}
.attribute {
}
.attribute-name {}
.attribute-value {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.2em;
  line-height: 1;
  padding: 0 0.2em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.attribute-value.multi {
  padding: 0 0.4em;
  padding-bottom: 0.2em;
}
.namespace {}
.xmlns {}
.namespace-prefix {}
.namespace-uri {}
.comment {}
.comment-value {
  font-style: italic;
}
.text, .attribute-value, .comment-value {
  cursor: text;
}
.more {
  font-family: Helvetica, sans-serif;
}




.result-item.highlight {
  
}
.result-item .more-info {
  display: none;
}
.result-item.highlight .more-info,
.result-item .result-type {
  display: block;
  position: absolute;
  top: 0.5em;;
  right: 0;
  width: 20em;
  text-align: right;
}

.status-overlay {
  color: #999;
  font-size: 125%;
  font-style: italic;
  text-align: center;
}

/* Colors */


.element {
  color: blue;
}
.element-open, .element-close, .attribute-value {
  background: #f2f6f8;
}
.attribute {
  color: purple;
}
.attribute-value {
  color: brown;
}
.namespace { color: #666; }
.text {
  color: black;
}
.comment {
  color: #666;
}