<div class="detail-close">X</div>
<h3 class="detail-localname"><%=element.localname%></h3>
<div class="detail-localname"><%=element["namespace-uri"]%></div>
<div class="detail-estimate"><%=element.estimate%></div>
<h4>Element Range Indexes</h4>
<% if("range-element-indexes" in database) {%>
<table>
  <tr><th>Type</th><th>Positions</th></tr>
  <%
    var ri = database["range-element-indexes"];
    for(var i=0; i < ri.length; i++) {
  %>
  <tr>
    <td><%=ri[i]["scalar-type"]%> 
      <%= ri[i].collation ? '<span class="details-collation">(' + ri[i].collation + ")</span>" : "" %></td>
    <td><%=ri[i]["range-value-positions"]%></td>
  </tr>
  <% } %>
</table>
<% } %>
<h4>Fields</h4>
<% if("fields" in database) {%>
<table>
  <tr><th>Name</th><th>Includes</th><th>Excludes</th><th>Range Indexes</th></tr>
  <%
    var fields = database.fields;
    for(var i=0; i < fields.length; i++) {
  %>
  <tr>
    <td><%=fields[i]["field-name"]%></td>
    <td><ul><li></li></ul></td>
    <td><ul><li></li></ul></td>
    <td></td>
  </tr>
  <% } %>
</table>
<% } %>